html, body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.spacer{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: minmax(0px, 1fr);
	grid-template-columns: minmax(0px, 250px) 1fr minmax(0px, 250px);
	/*border:dashed green;*/
	box-shadow: inset 10px 10px 100px 1px rgba(0,0,0,0.35);
}

.bigGrid {
	/*border: dashed red;*/
	grid-area: 1 / 2 / span 1 / span 1;
	/*box-shadow: inset 10px 10px 100px 1px rgba(0,0,0,0.35);*/
/*	width: 100%;
	height: 100%;*/
	display: grid;

	/*grid-template-areas: "space dealerName dealerScore header space"
					 "space dealerHand dealerHand dealerHand space"
					 "space message message message space"
					 "space userHand userHand userHand space"
					 "space userName userScore hit stand";*/
	/*grid-template-columns: 100px repeat(3, 1fr) 100px;*/

	grid-template-areas: "dealerName dealerScore dealerBustContainer header header"
						 "dealerHand dealerHand dealerHand dealerHand dealerHand"
						 "message message message message message"
						 "userHand userHand userHand userHand userHand"
						 "userName userScore userBustContainer buttons buttons";
	grid-template-columns: repeat(5, 1fr);
	/*grid-template-columns: repeat(5, 1fr);*/
	grid-template-rows: 1fr 3fr 2fr 3fr 1fr;
	font-family: Calibri;
}

.box {
	/*background-color: beige;
	border-radius: 5px;
	border: 2px dodgerblue solid;*/

	display:grid;
	align-items: center;
	justify-items: center; 
	align-self: center;
}.box.left{
	justify-self: left;
}

.dealerBustContainer{
	grid-area: dealerBustContainer;
}

.bustText{
	color:red;
	font-size: 30px;
	font-weight: bolder;
	align-self: start;
}
.hidden{
	display:none;
}

.cardGridContainer {
	display: grid;
	grid-template-columns: repeat(3, 170px);
	grid-auto-columns: 170px;
	grid-auto-flow: column;
	grid-template-rows: 1fr;
	align-items: center;
	justify-items: center;
	grid-column-gap: 5px;
}
.card{
	height: 210px;
	width: 150px;
	/*background-color: #f7f4ef;*/
	/*border: 1px solid darkgrey;*/
	/*border-radius: 15px;*/
	/*box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.17);*/
	display: inline-grid;
	justify-items: center;
	align-items: center;
	font-family: Garamondi;
	font-weight: bold;
}
.card img{
	box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.3);
	border-radius:6px;
}

.dealerName{
	grid-area: dealerName;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color:white;
}
.dealerName h2{
	font-weight: bolder;
	font-size: 3.5em;
	margin: 0;
}

.dealerScore{
	grid-area: dealerScore;
}

.header{
	grid-area: header;
}

.dealerHand{
	grid-area: dealerHand
}

.message{
	display: grid;
	grid-area: message;
	justify-items: center;
	align-items: center;
	color:black;
}

.userHand{
	grid-area: userHand;
}

.userName{
	grid-area: userName;
	font-size: 1.5em;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    color:white;
    font-weight: bolder;
}
.userName h2{
	font-weight: bolder;
	font-size: 3em;
	margin: 0;
}

.userScore{
	grid-area: userScore;
}

.userBustContainer{
	grid-area: userBustContainer;
}

.buttons{
	grid-area: buttons;
	display: inline-grid;
	align-items: center;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr;
	grid-gap:5px;
}

.hit.button{
	justify-self:end;

}
.stand.button{
	justify-self:start;
}
.restart.button{
	width:inherit;
	height:inherit;
	padding-left: 5px;
	padding-right: 5px;
}

.disabled .button{
	opacity: 0.5;
}.disabled .button:hover{
	background-color:#5a6b68;
	cursor: not-allowed;
}.disabled .button:active{
	position:relative;
	top:0px;
}

.button {
	box-shadow:inset 0px 1px 3px 0px #2b665e;
	background-color:#5a6b68;

	border-radius:3px;

	border:1px solid #566963;
	
	color:#ffffff;
	font-family:Verdana;
	font-size:33px;
	height:50px;
	line-height:50px;
	width:140px;
	font-weight: bolder;
	
	text-decoration:none;
	text-align:center;

	-webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: #77838f;
}.button:hover {
	background-color:#6c7c7c;
	cursor: pointer;
}.button:active {
	position:relative;
	top:1px;
}