.bigGrid {
	border:dashed red;
	width: 800px;
	height: 600px;
	display: grid;
	grid-template-areas: "dealerName dealerScore header header header"
						 "dealerHand dealerHand dealerHand dealerHand dealerHand"
						 "message message message message message"
						 "userHand userHand userHand userHand userHand"
						 "userName userScore footer hit stand";
	/*grid-template: 1fr 3fr 2fr 3fr 1fr / repeat(5, 1fr);*/ /* rows them columns */
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr 3fr 2fr 3fr 1fr;
	/*grid-column-gap: 5px;*/
	/*grid-row-gap: 10px;*/
	/*grid-gap: 5px 10px;*/
	/*grid-gap: 10px 10px;*/
}

.cardGridContainer {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	grid-template-rows: 1fr;
	align-items: center;
	justify-items: center;
	/*justify-content: space-between;*/
	/*align-content: center;*/
	grid-column-gap: 5px;
/*	border: solid purple;
	border-radius:5px;*/
}
.card{
	height: 100px;
	width: 70px;
	background-color: lightgrey;
	border: dashed green;
}

.dealerName{
	grid-area: dealerName;
}

.dealerScore{
	grid-area: dealerScore;
}

.header{
	grid-area: header;
}

.dealerHand{
	grid-area: dealerHand
}

.message{
	display: grid;
	grid-area: message;
	justify-items: center;
	align-items: center;
	color:black;
}

.test{
	/*align-self: center;*/
}

.userHand{
	grid-area: userHand;
}

.userName{
	grid-area: userName;
}

.userScore{
	grid-area: userScore;
}

.hit{
	grid-area: hit;
}

.stand{
	grid-area: stand;
}

.box {
/*	background-color: beige;
	border-radius: 5px;
	border: 2px dodgerblue solid;*/
	display:grid;
	align-items: center;
	justify-items: center; 
}

.hit button{
	justify-self:end;
}
.stand button{
	justify-self:center;
}

button{
	width: 100px;
	height: 40px;
}

/*.container{
	justify-content: center;
	align-content: center;
}*/




/**/
/*
.dealer .playerName{
	grid-area: 1 / 1 / span 1 / span 1;
}
	
.dealer .score{
	grid-area: 1 / 2 / span 1 / span 1;
}

.dealer .card{
	grid-row-start: 2;
	grid-row-end: span 1; 
}

#messageBox{
	grid-row-start: 3;
	grid-row-end: span 1;
}

.user .playerName{
	grid-area: 5 / 1 / span 1 / span 1;
}

.user .card{
	grid-row-start: 4;
	grid-row-end: span 1; 
}

.user .score{
	grid-area: 5 / 2 / span 1 / span 1;
}

.user .card{
	grid-row-start: 4;
	grid-row-end: span 1;
}

.button.hit{
	grid-area: 5 / 4 / span 1 / span 1;
}

.button.stand{
	grid-area: 5 / 5 / span 1 / span 1;
}*/